/* shared style related section */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

/* header related section */
header{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav-bar section starts here */
.nav-class{
    background-color: #9376e0 ;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-container ul{
    display: flex;
    gap: 60px;
    align-items: center;
}


.nav-container ul li{
    list-style-type: none;
}
.nav-container ul a{
    text-decoration: none;
    font-size: 25px;
    color:white;
}
.nav-logo{
    display: flex;
    gap: 20px;
}
.logo-img{
    width: 100px;
    object-fit:cover;
}
.logo-title{
 font-size: 30px;
}
.logo-hive{
    color: rgb(232, 147, 207);
}

.nav-item .login-btn{
    color: black;
    background-color: rgb(232, 147, 207);
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700px;
}
/* nav-bar section ends */
/* Banner section start here  */

/* Banner section ends here */
